h1, h2, h3, h4, h5 {
  color: #000;
  font-family: 'Montserrat', sans-serif; }

a:hover {
  color: #000; }

p {
  font-family: 'open-sans', sans-serif; }

.thumbnails {
  list-style-type: none; }

.header {
  padding-top: 50px; }

.logo img {
  width: 100%; }

.ohmy-logo, .yewskate-logo {
  float: right;
  width: 25%; }
  @media (max-width: 480px) {
    .ohmy-logo, .yewskate-logo {
      width: 45%; } }

.ohmy-logo {
  margin-right: 10px; }

.social {
  font-size: 36px;
  padding-top: 15px; }

#navbar {
  border-bottom: 1px solid black; }

.social a, .nav a {
  color: black;
  font-size: 20px; }
 .nav li a:hover {
  background-color: black;
  color: white; }



.sidebar-widget h4, .footer-widget h4 {
  border-bottom: 1px solid black; }
.sidebar-widget ul, .footer-widget ul {
  list-style-type: none;
  padding-left: 10px; }
  .sidebar-widget ul li a, .footer-widget ul li a {
    color: #000; }

.post-thumbnail img {
  width: 100%;
  height: 100%; }

.post-content {
  margin-top: 20px;
  padding: 15px; }

ul {
  padding: 0px; }
